<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>avisame-server</display-name>
	
	<!-- VAADIN_START -->
	<context-param>
  	<description>Vaadin production mode</description>
  	<param-name>productionMode</param-name>
  	<param-value>false</param-value>
  </context-param>
  <!-- VAADIN_END -->
  
 <context-param>
       <param-name>contextConfigLocation</param-name>
       <param-value>classpath:app-context.xml classpath:jpa-context.xml</param-value>
   </context-param>   
   <listener>
          <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <listener>
          <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
   </listener>
    <listener>
        <listener-class>com.chocodev.herokuserver.init.SystemInitializer</listener-class>
    </listener>
   <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>
		    com.sun.jersey.spi.spring.container.servlet.SpringServlet                     
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>com.chocodev.herokuserver.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
  		<servlet-name>Avisame Application</servlet-name>
  		<servlet-class>
  	  		com.vaadin.terminal.gwt.server.ApplicationServlet
  		</servlet-class>
  		<init-param>
      		<description>Vaadin application class to start</description>
      		<param-name>application</param-name>
      		<param-value>
        		com.chocodev.herokuserver.app.HerokuServerApplication
      		</param-value>
 		</init-param>
 	</servlet>
 
 		<servlet-mapping>
 		<servlet-name>Heroku Test Application</servlet-name>
 		<url-pattern>/*</url-pattern>
 		</servlet-mapping>
</web-app>